@import "@styles/utils/vars";

.button {
  border-radius: 25px;
  outline: none;
  border: none;
}

.button-general {
  @extend .button;

  padding: 6px 20px;
  color: $scampi;
  font-family: $montserrat;
  font-weight: 700;
  background-color: $kournikova;
  transition: opacity 0.5s ease;

  &:hover {
    opacity: 0.5;
  }
}

.button-transparent {
  @extend .button;

  display: inline-block;
  padding: 11px 22px;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  font-size: 13px;
  transition: opacity 0.5s ease;

  &:hover {
    opacity: 0.5;
  }
}
