@import "@styles/utils/vars";

.footer {
  position: relative;
  z-index: 12;
  padding: 26px 0;
  background-color: $deep-koamaru;

  .container {
    max-width: 1870px;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @media (max-width: $md) {
      display: grid;
      grid-template-columns: 74px 1fr;
      justify-items: center;
      grid-row-gap: 26px;
    }

    &-info {
      justify-self: start;
      display: none;

      @media (max-width: $md) {
        display: flex;
        flex-direction: column;
        grid-column: 1 / 4;

        & > * {
          font-size: 11px;
          font-weight: 400;
        }

        & > a {
          color: $dodger-blue;
        }
      }
    }
  }

  &__gratitude,
  &__promo {
    text-align: center;
  }

  &__gratitude {
    max-width: 189px;
  }

  &__promo {
    margin-left: auto;

    @media (max-width: $md) {
      display: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
