<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a class="footer__logo" href="/">
        <img src="<%= require('@icons/logo.svg') %>" alt="logo" />
      </a>
      <p class="footer__gratitude">Спасибо, что выбрали REG.RU!</p>
      <p class="footer__promo">
        <a href="https://promocode-reg-ru.ru">promocode-reg-ru.ru</a> © 2022
        <br />
        Промокод REG.ru
      </p>
      <div class="footer__wrapper-info">
        <p class="footer__name">© ООО «Регистратор доменных имен РЕГ.РУ»</p>
        <a href="#" class="footer__rules">Правила пользования сайтом</a>
        <a href="#" class="footer__politics">
          Политика обработки персональных данных
        </a>
      </div>
    </div>
  </div>
</footer>
