<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="header__logo" href="/">
        <img src="<%= require('@icons/logo.svg') %>" alt="logo" />
      </a>
      <a href="https://reg.ru" class="button-general header__link"
        >Перейти на сайт REG.RU</a
      >
      <a href="#" class="button-transparent header__switch-btn"
        >International version, $</a
      >
    </div>
  </div>
</header>
