@import "@styles/utils/vars";

$slider-breakpoint: 1400px;

.clients {
  padding: 138px 0;

  @media (max-width: $md) {
    padding: 54px 0 160px;
  }

  .container {
    max-width: 1680px;
  }

  &__top-wrapper {
    margin-bottom: 188px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $md) {
      margin-bottom: 56px;
      flex-direction: column;
      gap: 15px;
    }
  }

  &__title,
  &__see-all {
    @media (max-width: $sm) {
      font-size: 12px;
    }
  }

  &__title {
    font-family: $helvetica-rounded-bold;
    color: $deep-koamaru;
  }

  &__see-all {
    position: relative;
    margin-left: 10px;
    font-family: $montserrat;
    text-transform: uppercase;
    vertical-align: 30%;

    @media (max-width: $sm) {
      margin-left: 17px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      border-left: dashed 1px $deep-koamaru;
      height: 120%;
      top: -10%;
      left: -10px;
    }

    &::after {
      border-bottom: dashed 1px $deep-koamaru;
      bottom: -10%;
      left: 0;
      right: 0;
    }
  }

  &__nav {
    display: flex;
    gap: 53px;

    @media (max-width: $md) {
      align-self: flex-end;
    }
  }

  &__swiper {
    &-wrapper {
      margin: 0 auto;
      padding: 0 60px;
      display: flex;
      justify-content: space-between;
      gap: 20px;

      @media (max-width: $slider-breakpoint) {
        flex-direction: column;
        align-items: center;
        gap: 100px;
      }

      img {
        flex-basis: 22%;

        @media (max-width: $slider-breakpoint) {
          max-width: 300px;
        }
      }
    }

    &-bullet {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $alto;
      opacity: 1;

      &-active {
        background-color: $pickled-bluewood;
      }
    }

    &-pagination {
      position: static;
      margin-top: 70px;

      @media (max-width: $slider-breakpoint) {
        display: none;
      }
    }
  }
}
