$montserrat: "Montserrat", "Helvetica Rounded Bold", "Arial", "Ubuntu",
  sans-serif;
$helvetica-rounded-bold: "Helvetica Rounded Bold", $montserrat;

$container-padding: 30px;

$black: #000;
$white: #fff;
$navy-blue: #000587;
$royal-blue: #5e59da;
$rum-swizzle: #fdfdf4;
$fresh-rose: #f34b78;
$alto: #d9d9d9;
$white-linen: #f9f4ec;
$kournikova: #ffdf7b;
$neptune: #76bcb9;
$scampi: #5a62ac;
$medium-purple: #6e6ade;
$catalina-blue: #051181a8;
$moon-raker: #cbc9f3;
$deep-koamaru: #131881;
$hampton: #e2cdaa;
$pickled-bluewood: #364364;
$link-water: #deddf7;
$mist-gray: #cacac3;
$dodger-blue: #1d9ef9;

$main-color-1: $navy-blue;
$main-color-2: $royal-blue;

$xxlg: 1400px;
$xlg: 1200px;
$lg: 992px;
$md: 768px;
$sm: 578px;

$fonts-path: "@fonts";
$images-path: "@images";
$icons-path: "@icons";
